<form method="post" action="{{ path('administrator_delete', {'id': administrator.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ administrator.id) }}">
    <button class="btn">Delete</button>
</form>