{% extends 'base.html.twig' %}

{% block title %}Administrator index{% endblock %}

{% block body %}
    <h1>Administrator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrator in administrators %}
            <tr>
                <td>{{ administrator.id }}</td>
                <td>{{ administrator.username }}</td>
                <td>{{ administrator.password }}</td>
                <td>
                    <a href="{{ path('administrator_show', {'id': administrator.id}) }}">show</a>
                    <a href="{{ path('administrator_edit', {'id': administrator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administrator_new') }}">Create new</a>
{% endblock %}