{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block body %}
    <h1>Administrator</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrator.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ administrator.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ administrator.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('administrator_index') }}">back to list</a>

    <a href="{{ path('administrator_edit', {'id': administrator.id}) }}">edit</a>

    {{ include('administrator/_delete_form.html.twig') }}
{% endblock %}